<div class="content" ng-controller="indexCtrl">
    <div class="well">
        <div class="input-group">
            <span>שם לקוח</span>
            <input class="btn btn-lg" name="fullName" ng-model="fullName" id="name" type="text">
            <button class="btn btn-info btn-lg" type="button" ng-click="addUuser(fullName)">הכנס שם</button>
        </div>
    </div>
    <div class="next_user">
        <button class="btn btn-info btn-lg" ng-click="nextUser(users[0])">קרא להבא בתור</button>
        <div class="row">
            <span>ברשימה:</span>
            <input type="hidden" value="" />
            <div class="col-*-*">{{next.id}}</div>
            <div class="col-*-*">{{next.fullName}}</div>
            <div class="col-*-*">{{next.dateCreated}}</div>
        </div>
    </div>
    <div class="users-list">
        <span>רשימת ממתינים:</span>
        <table class="table table-bordered">
            <thead>
                <tr>

                    <th>מספר תור</th>
                    <th>שם לקוח</th>
                    <th>שעת כניסה לתור</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in users| orderBy:'u.id'" ng-if="u.status == 0 " >
                    <td>{{u.id}}</td>
                    <td>{{u.fullName}}</td>
                    <td>{{u.dateCreated}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>